.mainCont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.CardsContainer {
  display: flex;
  background-color:rgba(13, 116, 119, 0.896);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width:max-content;
  height: min-content;
  border-radius: 20px;
  border-style:solid;
  border-color: rgb(255, 195, 161);
  box-shadow: 1rem 1rem 1rem rgb(100, 59, 59);
  
}

.CardGroup {
  display:flex;
  flex-direction: row;
  justify-items: center;
  position: relative;
  
}


.footer {
  display: flex;
  justify-content: space-around; 
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.searchBar {
  margin-right: 5em;
}